body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#nav-internal {
  text-decoration: none;
  color: white;
  display: inline;
  padding: 0 30px 0 30px;
}
#nav-internal:hover {
  background-color:rgba(0, 0, 0, 0.349);
  border-radius: 0.25rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  text-decoration: none;
}


.container{
  max-width: 1400px;
  max-height: 700px;
}


.chart-container {
  max-width: 110vh;
  height: 250px;
  object-fit: cover;
  flex: auto;
}

  .carousel-inner img {
    width: 60%;
    max-height: 30%;
    border-radius: ".30em";
    margin: 0 auto;
  }

  .carousel {
    width:640px;
    height:400px;
    margin: auto
  }

.navbar .footer{
  position:fixed;
  overflow:unset;

}

